josan
[{"id":"3a229a7caa0375bd","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"6b4adc02dc82cf1f","type":"mqtt in","z":"3a229a7caa0375bd","name":"","topic":"jsp/level1","qos":"2","datatype":"auto-detect","broker":"89b0da730beff4e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":180,"wires":[["0dc17a435e81f66b","6b6837b323d9495f"]]},{"id":"0dc17a435e81f66b","type":"ui_gauge","z":"3a229a7caa0375bd","name":"","group":"f2aab1f0b729f221","order":1,"width":0,"height":0,"gtype":"gage","title":"PASU 1","label":"units","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":780,"y":180,"wires":[]},{"id":"56efbbe110d5cf3c","type":"mqtt in","z":"3a229a7caa0375bd","name":"","topic":"jsp/level2","qos":"2","datatype":"auto-detect","broker":"89b0da730beff4e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":580,"y":340,"wires":[["b4a1f03be83d4d35","c48b3926424419ed"]]},{"id":"b4a1f03be83d4d35","type":"ui_gauge","z":"3a229a7caa0375bd","name":"","group":"f2aab1f0b729f221","order":2,"width":0,"height":0,"gtype":"gage","title":"PASU 2","label":"units","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":800,"y":300,"wires":[]},{"id":"738b8b1e037cbabd","type":"ui_button","z":"3a229a7caa0375bd","name":"","group":"16b31e1ea931a643","order":1,"width":0,"height":0,"passthru":false,"label":"Buzzer ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":570,"y":480,"wires":[["1a83334e8a536708"]]},{"id":"1a83334e8a536708","type":"mqtt out","z":"3a229a7caa0375bd","name":"","topic":"jsp/buzzer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89b0da730beff4e2","x":930,"y":480,"wires":[]},{"id":"e96e1a5741e35677","type":"ui_button","z":"3a229a7caa0375bd","name":"","group":"16b31e1ea931a643","order":2,"width":0,"height":0,"passthru":false,"label":"Buzzer OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":570,"y":520,"wires":[["1a83334e8a536708"]]},{"id":"c48b3926424419ed","type":"switch","z":"3a229a7caa0375bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2600","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":360,"wires":[["687a33ccf44a46cb","8ccd9ca8c9f44a75"]]},{"id":"bebebd2854f591df","type":"mqtt out","z":"3a229a7caa0375bd","name":"","topic":"jsp/buzzer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89b0da730beff4e2","x":1290,"y":360,"wires":[]},{"id":"687a33ccf44a46cb","type":"debug","z":"3a229a7caa0375bd","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":300,"wires":[]},{"id":"8ccd9ca8c9f44a75","type":"trigger","z":"3a229a7caa0375bd","name":"","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1060,"y":360,"wires":[["bebebd2854f591df"]]},{"id":"2549750faeacabc8","type":"ui_button","z":"3a229a7caa0375bd","name":"","group":"16b31e1ea931a643","order":3,"width":0,"height":0,"passthru":false,"label":"Relay ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":620,"wires":[["70ca720e237716f5"]]},{"id":"70ca720e237716f5","type":"mqtt out","z":"3a229a7caa0375bd","name":"","topic":"jsp/relay1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89b0da730beff4e2","x":920,"y":640,"wires":[]},{"id":"794681c20174d576","type":"ui_button","z":"3a229a7caa0375bd","name":"","group":"16b31e1ea931a643","order":4,"width":0,"height":0,"passthru":false,"label":"Relay OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":550,"y":660,"wires":[["70ca720e237716f5"]]},{"id":"6b6837b323d9495f","type":"switch","z":"3a229a7caa0375bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"4000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":100,"wires":[["56a0b367c8d4dbd7","8fe96329ab7504c1"]]},{"id":"56a0b367c8d4dbd7","type":"trigger","z":"3a229a7caa0375bd","name":"","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"3","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1020,"y":100,"wires":[["d18f89eb14e56235"]]},{"id":"8fe96329ab7504c1","type":"debug","z":"3a229a7caa0375bd","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":40,"wires":[]},{"id":"d18f89eb14e56235","type":"mqtt out","z":"3a229a7caa0375bd","name":"","topic":"jsp/relay1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89b0da730beff4e2","x":1180,"y":100,"wires":[]},{"id":"89b0da730beff4e2","type":"mqtt-broker","name":"eqmx","broker":"broker.emqx.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f2aab1f0b729f221","type":"ui_group","name":"PASU","tab":"e491429010bae5e8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"16b31e1ea931a643","type":"ui_group","name":"Control","tab":"e491429010bae5e8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e491429010bae5e8","type":"ui_tab","name":"JSP","icon":"dashboard","disabled":false,"hidden":false}]
