jspWaterPlant.json
[{"id":"3a229a7caa0375bd","type":"tab","label":"JOSEPHINE","disabled":false,"info":"","env":[]},{"id":"6b4adc02dc82cf1f","type":"mqtt in","z":"3a229a7caa0375bd","name":"","topic":"jsp/level1","qos":"2","datatype":"auto-detect","broker":"89b0da730beff4e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":100,"wires":[["0dc17a435e81f66b","6b6837b323d9495f"]]},{"id":"0dc17a435e81f66b","type":"ui_gauge","z":"3a229a7caa0375bd","name":"","group":"f2aab1f0b729f221","order":1,"width":0,"height":0,"gtype":"gage","title":"PASU 1","label":"units","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":840,"y":140,"wires":[]},{"id":"56efbbe110d5cf3c","type":"mqtt in","z":"3a229a7caa0375bd","name":"","topic":"jsp/level2","qos":"2","datatype":"auto-detect","broker":"89b0da730beff4e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":220,"wires":[["b4a1f03be83d4d35","c48b3926424419ed"]]},{"id":"b4a1f03be83d4d35","type":"ui_gauge","z":"3a229a7caa0375bd","name":"","group":"f2aab1f0b729f221","order":2,"width":0,"height":0,"gtype":"gage","title":"PASU 2","label":"units","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":840,"y":220,"wires":[]},{"id":"738b8b1e037cbabd","type":"ui_button","z":"3a229a7caa0375bd","name":"","group":"16b31e1ea931a643","order":2,"width":0,"height":0,"passthru":false,"label":"Buzzer ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":60,"wires":[["1a83334e8a536708"]]},{"id":"1a83334e8a536708","type":"mqtt out","z":"3a229a7caa0375bd","name":"","topic":"jsp/buzzer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89b0da730beff4e2","x":290,"y":80,"wires":[]},{"id":"e96e1a5741e35677","type":"ui_button","z":"3a229a7caa0375bd","name":"","group":"16b31e1ea931a643","order":3,"width":0,"height":0,"passthru":false,"label":"Buzzer OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":100,"wires":[["1a83334e8a536708"]]},{"id":"c48b3926424419ed","type":"switch","z":"3a229a7caa0375bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2600","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":260,"wires":[["687a33ccf44a46cb","8ccd9ca8c9f44a75"]]},{"id":"bebebd2854f591df","type":"mqtt out","z":"3a229a7caa0375bd","name":"","topic":"jsp/buzzer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89b0da730beff4e2","x":1270,"y":260,"wires":[]},{"id":"687a33ccf44a46cb","type":"debug","z":"3a229a7caa0375bd","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":220,"wires":[]},{"id":"8ccd9ca8c9f44a75","type":"trigger","z":"3a229a7caa0375bd","name":"","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1060,"y":260,"wires":[[]]},{"id":"2549750faeacabc8","type":"ui_button","z":"3a229a7caa0375bd","name":"","group":"16b31e1ea931a643","order":5,"width":0,"height":0,"passthru":false,"label":"Relay ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":160,"wires":[["70ca720e237716f5"]]},{"id":"70ca720e237716f5","type":"mqtt out","z":"3a229a7caa0375bd","name":"","topic":"jsp/relay1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89b0da730beff4e2","x":280,"y":180,"wires":[]},{"id":"794681c20174d576","type":"ui_button","z":"3a229a7caa0375bd","name":"","group":"16b31e1ea931a643","order":4,"width":0,"height":0,"passthru":false,"label":"Relay OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":200,"wires":[["70ca720e237716f5"]]},{"id":"6b6837b323d9495f","type":"switch","z":"3a229a7caa0375bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"3000","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":100,"wires":[["56a0b367c8d4dbd7","8fe96329ab7504c1"]]},{"id":"56a0b367c8d4dbd7","type":"trigger","z":"3a229a7caa0375bd","name":"","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1060,"y":100,"wires":[["d18f89eb14e56235"]]},{"id":"8fe96329ab7504c1","type":"debug","z":"3a229a7caa0375bd","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":60,"wires":[]},{"id":"d18f89eb14e56235","type":"mqtt out","z":"3a229a7caa0375bd","name":"","topic":"jsp/relay1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89b0da730beff4e2","x":1260,"y":100,"wires":[]},{"id":"ab2728b31a3f8280","type":"mqtt in","z":"3a229a7caa0375bd","name":"","topic":"jsp/level3","qos":"2","datatype":"auto-detect","broker":"89b0da730beff4e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":380,"wires":[["8c71901a4e6eae10","21e2ea9726cf22e9"]]},{"id":"8c71901a4e6eae10","type":"ui_gauge","z":"3a229a7caa0375bd","name":"","group":"f2aab1f0b729f221","order":2,"width":0,"height":0,"gtype":"gage","title":"PASU 3","label":"units","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":840,"y":380,"wires":[]},{"id":"21e2ea9726cf22e9","type":"switch","z":"3a229a7caa0375bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2600","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":420,"wires":[["205e069f6a0a2b6a","d5922533e1fbac65"]]},{"id":"77493c56f76be15a","type":"mqtt out","z":"3a229a7caa0375bd","name":"","topic":"jsp/buzzer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89b0da730beff4e2","x":1270,"y":420,"wires":[]},{"id":"205e069f6a0a2b6a","type":"debug","z":"3a229a7caa0375bd","name":"debug 33","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":380,"wires":[]},{"id":"d5922533e1fbac65","type":"trigger","z":"3a229a7caa0375bd","name":"","op1":"on","op2":"off","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1060,"y":420,"wires":[[]]},{"id":"946fe70d552aecce","type":"mqtt in","z":"3a229a7caa0375bd","name":"","topic":"jsp/temp","qos":"2","datatype":"auto-detect","broker":"89b0da730beff4e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":260,"wires":[["2eb862ba708e2664"]]},{"id":"2eb862ba708e2664","type":"ui_gauge","z":"3a229a7caa0375bd","name":"","group":"09f1f68f7a395909","order":0,"width":0,"height":0,"gtype":"gage","title":"suhu","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":270,"y":260,"wires":[]},{"id":"ae614a1f69d0485f","type":"mqtt in","z":"3a229a7caa0375bd","name":"","topic":"jsp/humid","qos":"1","datatype":"auto-detect","broker":"89b0da730beff4e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":300,"wires":[["31b252b15d173819"]]},{"id":"31b252b15d173819","type":"ui_gauge","z":"3a229a7caa0375bd","name":"","group":"09f1f68f7a395909","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":280,"y":300,"wires":[]},{"id":"27cd2c408c36c2f3","type":"ui_text_input","z":"3a229a7caa0375bd","name":"Off Time 2","label":"Off Time ","tooltip":"","group":"16b31e1ea931a643","order":9,"width":"3","height":"1","passthru":true,"mode":"text","delay":300,"topic":"off_time","sendOnBlur":true,"className":"","topicType":"str","x":570,"y":660,"wires":[["efc7bb18eb175a71"]]},{"id":"e39edf9eb6207281","type":"ui_text","z":"3a229a7caa0375bd","group":"16b31e1ea931a643","order":11,"width":3,"height":1,"name":"Switch State 2","label":"Valve State OFF ON 2","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1020,"y":520,"wires":[]},{"id":"64cf53160db4ea0f","type":"ui_text_input","z":"3a229a7caa0375bd","name":"On Time 2","label":"On Time 2","tooltip":"","group":"16b31e1ea931a643","order":8,"width":"3","height":"1","passthru":true,"mode":"text","delay":300,"topic":"on_time","sendOnBlur":true,"className":"","topicType":"str","x":570,"y":620,"wires":[["efc7bb18eb175a71"]]},{"id":"aa756c836f031735","type":"ui_button","z":"3a229a7caa0375bd","name":"Submit 2","group":"16b31e1ea931a643","order":10,"width":"2","height":"1","passthru":false,"label":"Submit 2","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"submit","topicType":"str","x":560,"y":700,"wires":[["efc7bb18eb175a71"]]},{"id":"efc7bb18eb175a71","type":"function","z":"3a229a7caa0375bd","name":"Main","func":"var payload=msg.payload;\nvar topic=msg.topic;\n\nfunction checktime(time)\n{\n    var error_flag=false;\n   var a=time.split(\":\"); \n   node.log(a)\n   if(a.length <2)\n     error_flag=true;\n   if(parseInt(a[0])>23)\n     error_flag=true;\n   if(parseInt(a[1])>=60)\n     error_flag=true;\n    if(parseInt(a[2])>=60)\n     error_flag=true;\n\nreturn error_flag;  \n}\nif (topic==\"on_time\")\n{\n  flow.set(\"on_time\",msg.payload);\n  \n    \n}\nif (topic==\"off_time\")\n \n{\n     flow.set(\"off_time\",msg.payload);\n\n}\nif (topic==\"submit\")\n \n{\n  var on_time= flow.get(\"on_time\");\n  var off_time= flow.get(\"off_time\");\n  var error_flag=false;\n  if(checktime(on_time)) //ok\n    error_flag=true;\n  if(checktime(off_time)) //ok\n    error_flag=true;\n  \n\n\n  if(!error_flag)\n  {\n     var newpayload={};\n      newpayload.ontime=on_time;\n      newpayload.offtime=off_time;\n      msg.payload=newpayload;\n;\n   return[msg,null];\n}\nelse\n{\n    var msg1={};\n    msg1.payload=\"error time not set\";\n   return [null,msg1]; \n}\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":660,"wires":[["3a85f29e0f8edc08","7442e1bb7ff3a2ef"],["bd528565b8cf76d1","e39edf9eb6207281"]]},{"id":"bd528565b8cf76d1","type":"debug","z":"3a229a7caa0375bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":680,"wires":[]},{"id":"bdd8b125d9288cb0","type":"ui_button","z":"3a229a7caa0375bd","name":"","group":"16b31e1ea931a643","order":6,"width":"3","height":"1","passthru":false,"label":"Pump 2 on","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-2x fa-power-off","payload":"on","payloadType":"str","topic":"topic","topicType":"msg","x":570,"y":520,"wires":[["3a85f29e0f8edc08"]]},{"id":"e0650537ebf732de","type":"ui_button","z":"3a229a7caa0375bd","name":"","group":"16b31e1ea931a643","order":7,"width":"3","height":"1","passthru":false,"label":"Pump 2 off","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-2x fa-power-off","payload":"off","payloadType":"str","topic":"topic","topicType":"msg","x":570,"y":560,"wires":[["3a85f29e0f8edc08"]]},{"id":"3a85f29e0f8edc08","type":"eztimer","z":"3a229a7caa0375bd","name":"","debug":false,"autoname":"17:45:00 - 17:46:00","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"manual","lat":"","lon":"","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"17:45:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"str","onvalue":"on","onoffset":"0","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"17:46:00","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"str","offvalue":"off","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":780,"y":540,"wires":[["e39edf9eb6207281"]]},{"id":"7442e1bb7ff3a2ef","type":"mqtt out","z":"3a229a7caa0375bd","name":"","topic":"jsp/relay1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"89b0da730beff4e2","x":1200,"y":560,"wires":[]},{"id":"6eccc6e0c440ec15","type":"inject","z":"3a229a7caa0375bd","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[["3689f5ccfc956e58"]]},{"id":"3689f5ccfc956e58","type":"ui_digital_clock","z":"3a229a7caa0375bd","name":"JAM Digital","group":"16b31e1ea931a643","order":1,"width":6,"height":2,"x":350,"y":480,"wires":[]},{"id":"89b0da730beff4e2","type":"mqtt-broker","name":"eqmx","broker":"broker.emqx.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f2aab1f0b729f221","type":"ui_group","name":"PASU","tab":"e491429010bae5e8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"16b31e1ea931a643","type":"ui_group","name":"Control","tab":"e491429010bae5e8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"09f1f68f7a395909","type":"ui_group","name":"Suhu dan Humiditi","tab":"e491429010bae5e8","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e491429010bae5e8","type":"ui_tab","name":"JSP","icon":"dashboard","disabled":false,"hidden":false}]
